# OPPO configuration options

config MACH_OPPO
	bool "OPPO device"
	depends on ARCH_MSM
	help
	  Support for OPPO products

config MACH_OPPO_MSM8940
	bool "OPPO MSM8996"
	depends on ARCH_MSM8940
	select MACH_OPPO
	help
	  Support for MSM8940 OPPO variants

menu "OPPO board selection"

config MACH_16061
	bool "A57 board"
	select MACH_OPPO_MSM8940
	help
	  Support for A57 variants

endmenu
