/*
 * Copyright (c) 2015-2018, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include "msm-pm8937.dtsi"
#include "msm-audio.dtsi"
#include "msm8937-audio.dtsi"
#include "msm8937-mdss-pll.dtsi"
#include "msm8937-pm.dtsi"
#include "msm8937-regulator.dtsi"

/ {
	reserved-memory {
		other_ext_mem: other_ext_region@0 {
			reg = <0x0 0x84a00000 0x0 0x1E00000>;
		};

		ramoops@9ff00000 {
			compatible = "ramoops";
			reg = <0x0 0x9ff00000 0x0 0x00300000>;
			record-size = <0x1000>;
			console-size = <0x200000>;
			ftrace-size = <0x1000>;
			pmsg-size = <0x200000>;
			ecc-size = <0>;
		};
	};
};

&firmware {
	android {
		fstab {
			compatible = "android,fstab";
			vendor {
				status = "disable";
			};
		};
	};
};

&soc {
	qcom,oembackup_sharedmem@0 {
		compatible = "qcom,sharedmem-uio";
		reg = <0x0 0x00100000>; /* '0' indicates dynamic allocation */
		reg-names = "oembackup";
		qcom,client-id = <0x00000003>;
	};

	qcom,bcl {
		/delete-property/ qcom,bcl-enable;
	};

	i2c_2: i2c@78b6000 { /* BLSP1 QUP2 */
		/delete-node/ pericom-type-c@1d;
	};

	i2c_3: i2c@78b7000 { /* BLSP1 QUP3 */
		status = "ok";
	};

	qcom,wcnss-wlan@0a000000 {
		/delete-property/ qcom,has-autodetect-xo;
	};

	usb_otg: usb@78db000 {
		qcom,hsusb-otg-phy-init-seq = <0x73 0x80 0x38 0x81 0x27 0x82 0x33 0x83 0xffffffff>;
		qcom,floated-charger-enable = <1>;
	};

	qcom,wdt@b017000 {
		qcom,bark-time = <20000>;
	};

	/delete-node/ qseecom@85b00000;
	qcom_seecom: qseecom@84a00000 {
		compatible = "qcom,qseecom";
		reg = <0x84a00000 0x1900000>;
		reg-names = "secapp-region";
		qcom,hlos-num-ce-hw-instances = <1>;
		qcom,hlos-ce-hw-instance = <0>;
		qcom,qsee-ce-hw-instance = <0>;
		qcom,disk-encrypt-pipe-pair = <2>;
		qcom,support-fde;
		qcom,appsbl-qseecom-support;
		qcom,msm-bus,name = "qseecom-noc";
		qcom,msm-bus,num-cases = <4>;
		qcom,msm-bus,num-paths = <1>;
		qcom,support-bus-scaling;
		qcom,msm-bus,vectors-KBps =
			<55 512 0 0>,
			<55 512 0 0>,
			<55 512 120000 1200000>,
			<55 512 393600 3936000>;
		clocks = <&clock_gcc clk_crypto_clk_src>,
			 <&clock_gcc clk_gcc_crypto_clk>,
			 <&clock_gcc clk_gcc_crypto_ahb_clk>,
			 <&clock_gcc clk_gcc_crypto_axi_clk>;
		clock-names = "core_clk_src", "core_clk",
				"iface_clk", "bus_clk";
		qcom,ce-opp-freq = <100000000>;
	};
};
